@mixin clear-list {
  list-style: none;
  margin: 0;
  padding:0;
}

@mixin clearfix {
  &:after {
    content: '';
    display: table ;
    clear: both;
  }
}

@mixin postfix($symbol) {
  &:after {
    content: $symbol;
    display: inline-block;
  }
}

@mixin prefix($symbol) {
  &:before {
    content: $symbol;
    display: inline-block;
  }
}

@mixin masked-link($url, $color, $hover, $active){
  &:before {
    background-color: $color;
    mask: url($url) no-repeat 50% 50%;
  }

  &:hover, &:focus {
    &:before {
      background-color: $hover;
    }
  }

  &:active {
    &:before {
      background-color: $active;
    }
  }
}

@mixin select-text {
  color: $color-text;

  cursor: pointer;

  &:hover, &:focus {
    color: $hover-link;
  }

  &:active {
    color: $active-link;
  }
}

@mixin ignore-page-padding{
  margin-left: -30px;
  margin-right: -30px;

  @media (min-width: $screen-tablet) {
    margin-left: -50px;
    margin-right: -50px;
  }
}

@mixin basic-padding {
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $screen-tablet) {
    padding: 0 50px;
  }
}

@mixin vertical-align-text {
  &:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    content: '';
  }
}

@mixin container {
  max-width: 1280px;
  min-width: 260px;

  @include basic-padding;
}
