// SCREEN
$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1150px;

// TYPOGRAPHY
$font-family-text: 'Open Sans', "Tahoma", sans-serif;

$font-size-small: 13px;
$font-size-regular: 15px;
$font-size-large: 17px;
$font-size-x-large: 18px;
$font-size-xx-large: 25px;
$font-size-xxx-large: 27px;
$font-size-tablet: 43px;
$font-size-desktop: 53px;

$line-height-small: 20px;
$line-height-regular: 24px;
$line-height-large: 30px;
$line-height-tablet: 50px;
$line-height-desktop: 56px;

// COLORS
$white: #fff;
$pearl: #f1f1f1;
$grey: #ececec;
$lightest-grey: #c6c6c6;
$light-grey: #b2b2b2;
$dark-grey: #666666;
$asphalt: #444444;
$aquamarin: #46c1ae;
$light-geen: #63d1bb;
$green: #56c3b2;
$dark-green: #149080;
$black: #000;

// COLOR USAGE
$color-text: $black;
$color-text-green: $green;
$color-text-white: $white;
$color-border: $grey;
$color-link-border: $green;
$hover-link: $dark-grey;
$active-link: $light-grey;
$left-green-btn: $light-geen;
$right-green-btn: $green;
$green-icon: $dark-green;
$color-btn: $asphalt;
$color-feature: $grey;
$menu-icon: $light-grey;
$menu-icon-hover: $grey;
$color-header: $pearl;
$color-footer: $pearl;
$color-logo: $color-text;
$color-logo-hover: $aquamarin;
$color-logo-active: rgba($color-logo-hover, 0.3);
$color-logo-academy: $light-geen;
$color-size-form: $grey;
$color-size-form-active: $aquamarin;
$color-shadow: $lightest-grey;
$color-btn-blue: $grey;
$color-fieldset: $green;
$color-fieldset-active: #c7c7c7;
$color-field: $black;
$color-btn-green: $aquamarin;
$color-icon: $light-geen;
