// TYPOGRAPHY
$font-family-text: 'Open Sans', "Tahoma", sans-serif;

$font-size-small: 13px;
$font-size-regular: 15px;
$font-size-large: 17px;
$font-size-x-large: 18px;
$font-size-xx-large: 25px;
$font-size-xxx-large: 27px;

$line-height-small: 20px;
$line-height-regular: 24px;
$line-height-large: 30px;

// COLORS
$white: #fff;
$black: #000;
$grey: #ececec;
$asphalt: #444444;
$dark-grey: #666666;
$light-grey: #b2b2b2;
$light-green:#63d1bb;
$green: #56c3b2;
$dark-green: #149080;
$light-blue: #63d1bb;
$aquamarin: #62d1ba;
$light-aquamarin: #46c1ae;
$pearl: #f1f1f1;

// COLOR USAGE
$color-text: $black;
$color-text-green: $light-green;
$color-text-white: $white;
$color-border: $grey;
$color-link-border: $aquamarin;
$hover-link: $dark-grey;
$active-link: $light-grey;
$left-green-btn: $light-green;
$right-green-btn: $green;
$green-icon: $dark-green;
$color-btn: $asphalt;
$color-feature: $light-blue;
$menu-icon: $light-grey;
$menu-icon-hover: $light-blue;
$color-footer: $pearl;
$color-logo: $color-text;
$color-logo-hover: $light-aquamarin;
$color-logo-active: rgba($color-logo-hover, 0.3);


