.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
css/*.css
node_modules/
Thumbs.db
img/mishka-catalog-desktop.jpg
img/mishka-catalog-tablet.jpg
img/mishka-catalog-mobile.jpg
img/mishka-form-desktop.jpg
img/mishka-form-tablet.jpg
img/mishka-form-mobile.jpg
img/index-desktop.jpg
img/index-tablet.jpg
img/index-mobile.jpg
