.author__name {
  margin: 0;
  font-size: $font-size-x-large;
  font-weight: bold;
  letter-spacing: 0.1px;

  @media (min-width: $screen-tablet) {
    letter-spacing: -0.5px;
  }
}

.author__username {
  margin-top: 8px;
  margin-bottom: 30px;
  font-size: $font-size-large;
}
