@import './map';

.contacts__title {
  margin-bottom: 26px;

  font-size: $font-size-x-large;
  line-height: $line-height-large;
  font-weight: bold;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  @include clear-list;
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  line-height: $line-height-large;
}


.contacts__value {
  display: block;
  margin-left: 30px;
}

.contacts__link {
  display: inline-block;
  padding-bottom: 2px;
  vertical-align: top;

  border-bottom: 1px solid $color-link-border;

  color: $color-text;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-link-border;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__info {
  margin: 0 0 5px;
  padding: 0;
  border: none;
}

.contacts__feedback-btn {
  width: auto;
  margin: 37px 0 30px 0;
}
