.container {
  @include container;

  &--with-separator {
    max-width: 100%;
    background: transparent url('./../../img/bg-zigzag-line.svg') repeat-x bottom;
    background-size: auto 6px;
    padding-bottom: 43px;
    margin-bottom: 28px;
  }

  @media (min-width: $screen-tablet) {
    &--with-separator {
      background-size: auto 16px;
      padding-bottom: 68px;
      margin-bottom: 0px;
    }
  }

  @media (min-width: $screen-desktop) {
    &--with-separator {
      background-size: auto 24px;
      padding-bottom: 0;
    }
  }
}
