.contacts__title {
  margin-bottom: 26px;

  font-size: $font-size-x-large;
  line-height: $line-height-large;
  font-weight: bold;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  @include clear-list;
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  line-height: $line-height-large;
}


.contacts__value {
  display: block;
  margin-left: 30px;
}

.contacts__link {
  display: inline-block;
  vertical-align: top;

  border-bottom: 1px solid $color-link-border;

  color: $color-text;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-link-border;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__info {
  margin: 0 0 5px;
  padding: 0;
  border: none;
}

.contacts__feedback-btn {
  max-width: 260px;
  margin: 36px auto 60px auto;
}

@media (min-width: 768px) {
  .contacts {
    position: relative;
    padding-top: 60px;
  }

  .contacts__title {
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      position: absolute;
      top: 40px;
      right: 0;

      display: block;
      width: 60px;
      height: 90px;

      background: url('./../../img/icon-flag.svg') no-repeat 10px 3px;

      content: '';
    }
  }

  .contacts__info {
    margin-bottom: 25px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__item {
    flex-basis: 50%;
    font-size: $font-size-large;
  }

  .contacts__value {
    max-width: 200px;
    margin-left: 24px;

    br {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .contacts__title {
    position: relative;
    z-index: 5;

    margin-top: 137px;
  }

  .contacts__info {
    position: relative;
  }

  .contacts__title {
    display: block;
    width:100%;
    font-size: 43px;

    &::after {
      position: absolute;
      top: -18px;
      right: 0;

      content: '';
    }
  }

  .contacts__feedback-btn {
    margin-top: 53px;
    max-width: 230px;
  }
}

@media (min-width: 1150px) {
  .contacts__info {
    max-width: 300px;
    margin-left: auto;
    margin-top: 81px;
    padding-right: 577px;
  }

  .contacts__title {
    margin-bottom: 51px;

    font-size: 53px;

    &::after {
      top: -15px;
      left: -117px;
    }
  }

  .contacts__item {
    flex-basis: 100%;
  }

  .contacts__map {
    position: absolute;
    top: 67px;
    right: 50px;

    width: 525px;
    height: 455px;
  }

  .contacts__feedback-btn {
    margin-top: 50px;
    margin-right: 647px;
  }
}
