.contacts {
  margin-top: 35px;

  @media (min-width: $screen-tablet) {
    position: relative;
    margin-top: 0;
    padding-top: 60px;
  }
}

.contacts__title {
  margin: 0 0 26px;

  font-size: $font-size-x-large;
  line-height: $line-height-large;
  font-weight: bold;

  @media (min-width: $screen-tablet) {
    position: relative;
    z-index: 5;

    display: block;
    width: 100%;
    margin-bottom: 48px;

    font-size: $font-size-tablet;
    line-height: 50px;
    letter-spacing: -1px;

    &::after {
      position: absolute;
      top: -18px;
      right: 0;

      display: block;
      width: 60px;
      height: 90px;

      background: url('./../../img/icon-flag.svg') no-repeat 10px 3px;

      content: '';
    }
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 51px;

    font-size: $font-size-desktop;

    &::after {
      top: -15px;
      left: -117px;
    }
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  @include clear-list;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  line-height: $line-height-large;

  @media (min-width: $screen-tablet) {
    flex-basis: 50%;
    font-size: $font-size-large;
  }

  @media (min-width: $screen-desktop) {
    flex-basis: 100%;
  }
}


.contacts__value {
  display: block;
  margin-left: 30px;

  @media (min-width: $screen-tablet) {
    max-width: 230px;
    margin-left: 24px;

    br {
      display: none;
    }

    br:first-of-type {
      display: block;
    }
  }
}

.contacts__link {
  display: inline-block;
  vertical-align: top;

  border-bottom: 1px solid $color-link-border;

  color: $color-text;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-link-border;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__info {
  margin: 0 0 5px;
  padding: 0;
  border: none;

  @media (min-width: $screen-tablet) {
    position: relative;

    margin-bottom: 25px;
  }

  @media (min-width: $screen-desktop) {
    max-width: 300px;
    margin-left: auto;
    margin-top: 81px;
    padding-right: 577px;
  }
}

.contacts__feedback-btn {
  max-width: 260px;
  margin: 36px auto 40px;

  @media (min-width: $screen-tablet) {
    margin-top: 50px;
    margin-bottom: 60px;
    max-width: 230px;
  }

  @media (min-width: $screen-desktop) {
    margin-top: 50px;
    margin-right: 647px;
    margin-bottom: 103px;
  }
}

.contacts__map {
  @media (min-width: $screen-desktop) {
    position: absolute;
    top: 67px;
    right: 50px;

    width: 525px;
    height: 455px;
  }
}
