.copyright__text {
  margin-right: 20px;
  vertical-align: middle;

  font-size: ($font-size-x-large + 1px);
  font-weight: bold;

  @include select-text;

  @media (min-width: $screen-desktop) {
    margin-right: 17px;
  }
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
}

.copyright__img {
  display: block;
}
