.copyright__text {
  margin-right: 22px;

  font-size: ($font-size-x-large + 1px);
  font-weight: bold;

  @include select-text;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 185px;
  margin: 0 auto;

  text-decoration: none;

  &:hover .copyright__img,
  &:focus .copyright__img {
    fill: $color-logo-hover;
  }

  &:active .copyright__img {
    fill: $color-logo-active;
  }
}

.copyright__img {
  display: block;
  margin-right: -5px;
  fill: $color-logo-academy;
}
