.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features__term {
  flex-basis: 95px;
  padding: 8px 0;
  flex-shrink: 0;

  @include postfix(':');
}

.features__value {
  flex-basis: 100%;
  margin: 0 0 0 -95px;
  padding: 8px 0 0 95px;
  box-sizing: border-box;
}

.features__term--inline {
  display: inline-block;
  float: left;
  width: auto;
  margin-right: 5px;

  &:not(:first-of-type) {
    @include prefix(',');
    &:before {
      margin-right: 5px;
    }
  }
}

.features__value--inline {
  display: inline-block;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
}
