.main-nav * {
  outline: 1px solid green;
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
  @include ignore-page-padding;

  overflow: hidden;

  text-align: right;

  &--open {
    height: auto;

    .main-nav__list--links,
    .main-nav__list--promotions,
    .main-nav__list--controls {
      position: absolute;
      left: -30px;
      right: -30px;
      z-index: 2;
    }

    .main-nav__list--links {
      top: 80px;
    }

    .main-nav__list--promotions {
      top: 500px;
    }

    .main-nav__list--controls {
      top: 240px;
    }
  }

  &--no-js {
    height: auto;
  }

  @media (min-width: $screen-tablet) {
    height: 158px;
    justify-content: space-around;
    margin: 0;

    background-color: transparent;
  }

  @media (min-width: $screen-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__logo {
  margin: auto;

  transform: translateX(30px);

  @media (min-width: $screen-tablet) {
    margin: auto 0;
  }
}

.main-nav__list {
  position: relative;
  flex-basis: 100%;
  z-index: 1;
  @include clear-list;

  font-size: $font-size-large;
  font-weight: bold;
  text-align: left;

  border-bottom: 1px solid $color-border;

  &--promotions {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    &--links {
      width: 50%;
      display: flex;
      order: 1;

      font-size: $font-size-regular;
    }

    &--controls {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      flex-basis: 60%;
    }
  }

  @media (min-width: $screen-desktop) {
    &--links {
      order: 0;

      font-size: $font-size-large;
    }

    &--promotions {
      display: flex;
      flex-basis: 100%;
      order: 1;

      font-size: $font-size-regular;
    }
  }
}

.main-nav__item {
  border-top: 1px solid $color-border;
  order: 1;
}

.main-nav__list--links,
.main-nav__list--promotions {
  @media (min-width: $screen-tablet) {
    .main-nav__item {
      width: 200px;
    }
  }

  @media (min-width: $screen-desktop) {
    .main-nav__item {
      width: 220px;
    }
  }
}

.main-nav__link {
  $padding: (80px - $line-height-regular)/2;

  position: relative;

  display: block;
  padding: $padding 30px $padding 75px;
  box-sizing: border-box;
  vertical-align: top;

  text-decoration: none;
  background-color: white;

  @include select-text;

  &--basket {
    @include link-icon-left(24px, 24px, './../../img/icon-cart.svg', 30px, white);
  }

  &--search {
    @include link-icon-left(24px, 24px, './../../img/icon-search.svg', 30px, white);
  }

  @media (min-width: $screen-tablet) {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;

    &--basket {
      padding-left: 78px;
    }

    &--search {
      font-size: 0;
      padding-left:42px;
      padding-right: 42px;
    }
  }

  @media (min-width: $screen-desktop) {
    &--basket {
      padding: 0;

      &:before {
        left: -55px;
      }
    }

    &--search {
      padding: 0 15px;
      margin-right: 110px;

      &:before {
        left: 0;
      }
    }
  }
}

.main-nav__toggle-btn {
  display: inline-block;
  vertical-align: top;

  width: 36px;
  height: 36px;
  margin-right: 24px;
  margin-top: 22px;
  margin-bottom: 22px;

  border: none;
  background: transparent url('../../img/icon-menu-open.svg') no-repeat 50% 50%;

  cursor: pointer;

  &--open {
    background-image: url('../../img/icon-menu-close.svg');
  }

  @media (min-width: $screen-tablet) {
    display: none;
  }
}
