.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 81px;

  overflow: hidden;

  text-align: right;

  &--open {
    height: auto;

    .main-nav__list--links,
    .main-nav__list--promotions,
    .main-nav__list--controls {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .main-nav__list--links {
      top: 80px;
    }

    .main-nav__list--promotions {
      top: 500px;
    }

    .main-nav__list--controls {
      top: 240px;

      .main-nav__link {
        padding-left: 0;
      }
    }
  }

  &--no-js {
    height: auto;
  }

  @media (min-width: $screen-tablet) {
    height: 145px;
    justify-content: space-around;
    margin: 0;

    background-color: transparent;

    &--open  .main-nav__list {
      position: static;
    }
  }

  @media (min-width: $screen-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__logo {
  width: 90px;
  height: 35px;
  margin: auto;

  transform: translateX(30px);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {
    width: 113px;
    height: 47px;
    margin: auto 0;
    transform: translateX(50px);
  }

  @media (min-width: $screen-desktop) {
    width: 150px;
    height: 75px;
    transform: translateX(-28px);
    order: 1;
    margin: auto;
  }
}

.main-nav__list {
  position: relative;
  flex-basis: 100%;
  z-index: 1;
  box-sizing: border-box;
  @include clear-list;

  font-size: $font-size-large;
  font-weight: bold;
  text-align: left;

  border-bottom: 1px solid $color-border;

  &--promotions {
    display: none;
  }

  &--controls .main-nav__link {
    padding-left: 0;
  }

  @media (min-width: $screen-tablet) {
    border-bottom: none;
    overflow: hidden;

    &--promotions {
      padding-left: 15px;

      .main-nav__link {
        padding-left: 35px;
      }
    }

    &--links {
      flex-basis: 450px;
      display: flex;
      order: 1;
      padding-left: 15px;
      border-top: 1px solid $color-border;

      font-size: $font-size-regular;

      .main-nav__link {
        padding-left: 34px;
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }

    &--controls {
      display: flex;
      min-height: 90px;
      justify-content: flex-end;
      margin-left: auto;
      flex-basis: 600px;
      padding-right: 50px;

      .main-nav__link {
        padding: 0;
      }

      .main-nav__link:first-of-type {
        border-left: 1px solid $color-border;
      }
    }
  }

  @media (min-width: $screen-desktop) {
    display: flex;

    &--links {
      min-height: 90px;
      order: 0;
      flex-basis: 490px;

      border: none;

      font-size: $font-size-large;

      .main-nav__link {
        @include vertical-align-text;

        margin: 0 auto;
        padding: 0;

        &:before {
          position: static;
        }
      }
    }

    &--promotions {
      flex-basis: 490px;
      order: 2;

      border-top: 1px solid $color-border;

      font-size: $font-size-regular;

      .main-nav__link {
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }

    &--controls {
      order: 1;
      flex-basis: 400px;

      .main-nav__link {
        margin-top: 0;
        margin-bottom: 0;
        border-left: 1px solid $color-border;
      }
    }
  }
}

.main-nav__item {
  border-top: 1px solid $color-border;
  order: 1;

  @media (min-width: $screen-tablet) {
    display: flex;
    border: none;
  }
}

.main-nav__list--links,
.main-nav__list--promotions {
  @media (min-width: $screen-tablet) {
    .main-nav__item {
      width: 171px;
      overflow: hidden;
    }
  }

  @media (min-width: $screen-desktop) {
    .main-nav__item {
      width: 220px;
    }
  }
}

.main-nav__link {
  $padding: (80px - $line-height-regular)/2;

  position: relative;

  display: block;
  padding: $padding 30px $padding 80px;
  box-sizing: border-box;
  vertical-align: top;

  text-decoration: none;
  background-color: white;

  @include select-text;

  &:hover .main-nav__icon,
  &:focus .main-nav__icon {
    fill: $color-logo-hover;
  }

  &:active .main-nav__icon {
    fill: $color-logo-active;
  }

  @media (min-width: $screen-tablet) {
    padding-left: 0;
    padding-right: 0;
    background: none;

    &--basket,
    &--search {
      @include vertical-align-text;
    }

    &--search {
      font-size: 0;
    }
  }
}

.main-nav__icon {
  display: inline;
  vertical-align: middle;
  margin: 0 30px;

  fill: $menu-icon;
}

.main-nav__toggle-btn {
  display: inline-block;
  vertical-align: top;

  width: 36px;
  height: 36px;
  margin-right: 24px;
  margin-top: 22px;
  margin-bottom: 22px;

  border: none;
  background: transparent url('../../img/icon-menu-open.svg') no-repeat 50% 50%;

  cursor: pointer;

  &--open {
    background-image: url('../../img/icon-menu-close.svg');
  }

  @media (min-width: $screen-tablet) {
    display: none;
  }
}
