.page-footer {
  background-color: $color-footer;
}


.page-footer__inner {
  padding: 25px 0;
  text-align: center;

  @media (min-width: $screen-tablet) {
    display: flex;
    height: 145px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    box-sizing: border-box;
  }

  @media (min-width: $screen-desktop) {
    margin-top: 45px;
  }
}

.page-footer__copyright {
  margin-top: 45px;

  @media (min-width: $screen-tablet) {
    margin-top: 0;
  }
}

.page-footer__logo {
  display: none;
  cursor: pointer;

  fill: $color-logo;

  &:hover,
  &:focus {
    fill: $color-logo-hover;
  }

  &:active {
    fill: $color-logo-active;
  }

  @media (min-width: $screen-tablet) {
    display: block;
    margin-top: -10px;
  }
}

.page-footer__social-links {
  @media (min-width: $screen-tablet) {
    padding-left: 75px;
  }
}
