.page-header {
  position: relative;

  background: url('./../../img/hero-mobile@1x.jpg') no-repeat 50% 60px;


  &--no-bg {
    background: none;
  }

  @media (min-width: $screen-tablet) {
    height: 820px;
    //padding-top: 90px;

    background-position: 50% 70px;
    background-size: cover;

    &--no-bg {
      height: 320px;
    }
  }
}

.page-header--no-js {
  background-position: 50% 320px;
}

.page-header__title {
  display: block;
  padding-top: 70px;
  padding-bottom: 75px;
  margin: 0;
  box-sizing: border-box;

  font-size: $font-size-xxx-large;
  line-height: $line-height-large;
  text-align: center;

  &--bg {
    @include ignore-page-padding;

    background: #f1f1f1;
  }

  @media (min-width: $screen-tablet) {
    padding-top: 85px;

    font-size: $font-size-tablet;
    line-height: $line-height-tablet;

    &--bg {
      padding-top: 25px;
    }
  }

  @media (min-width: $screen-desktop) {
    font-size: $font-size-desktop;
    line-height: 55px;
  }
}

.page-header__meta {
  position: absolute;
  right: 0;
  top: 90px;

  display: none;

  @media (min-width: $screen-tablet) {
    display: block;
  }
}
