.page {
  min-width: 260px;
  margin: 0;
  padding: 0 30px;

  font-family: $font-family-text;
  font-size: $font-size-regular;
  line-height: $line-height-regular;

  @media (min-width: $screen-tablet) {
    padding: 0 50px;
  }
}
