
.page-footer {
  padding: 5px 0;
  background-color: $color-footer;
  text-align: center;

  @include ignore-page-padding;
}

.page-footer__copyright {
  margin-top: 45px;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    height: 145px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    box-sizing: border-box;
  }

  .page-footer__copyright {
    margin-top: 0;
  }

  .page-footer__social-links {
    padding-left: 75px;
  }
}

@media (min-width: 1150px) {
  .page-footer {
    margin-top: 104px;
  }
}
