.page-header {
  position: relative;
  background-color: $color-header;
  background-image: linear-gradient(white 0px, white 80px, transparent 80px, transparent 100%),
                    url('./../../img/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 0 0, 50% 60px;

  &--no-bg {
    background: linear-gradient(to bottom, transparent 0px, transparent 80px, $color-header 80px, $color-header 100%);

    .page-header__title {
      padding-bottom: 75px;
    }
  }

  @media (min-width: $screen-mobile) and (min-resolution: 144dpi), (min-width: $screen-mobile) and (min-resolution: 1.5dppx) {
    background-image: linear-gradient(white 0px, white 80px, transparent 80px, transparent 100%),
    url('./../../img/hero-mobile@2x.jpg');

    &--no-bg {
      background: linear-gradient(to bottom, transparent 0px, transparent 80px, $color-header 80px, $color-header 100%);
    }
  }

  @media (min-width: $screen-tablet) {
    height: 820px;

    background-image: linear-gradient(white 0px, white 92px, transparent 92px, transparent 100%),
                      url('./../../img/hero-desktop@1x.jpg');
    background-position: 0 0px, 50% 90px;

    &--no-bg {
      background: linear-gradient(to bottom, transparent 0px, transparent 92px, $color-header 92px, $color-header 100%);
    }

    &:after {
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      z-index: 10;

      height: 40px;
      background: transparent url('./../../img/bg-zigzag-fill.svg') repeat-x bottom;
      background-size: auto 23px;
      content: '';
    }
  }

  @media (min-width: $screen-tablet) and (min-resolution: 144dpi), (min-width: $screen-tablet) and (min-resolution: 1.5dppx) {
    background-image: linear-gradient(white 0px, white 92px, transparent 92px, transparent 100%),
                      url('./../../img/hero-desktop@2x.jpg');

    &--no-bg {
      background-image: linear-gradient(to bottom, transparent 0px, transparent 92px, $color-header 92px, $color-header 100%);
    }
  }

  @media (min-width: $screen-tablet) {
    &--no-bg {
      height: 320px;
      background: linear-gradient(to bottom, white 0px, white 90px, $color-header 90px, $color-header 100%);
      background-position: 50% 0;

      .page-header__title {
        padding-top: 37px;
      }

      &:after {
        bottom: -5px;
      }
    }
  }

  @media (min-width: $screen-desktop) {
    &:after {
      background-size: auto 34px;
    }

    &--no-bg {
      height: 340px;
      &:after {
        bottom: -20px;
      }
    }
  }
}

.page-header--no-js {
  background-position: 50% 320px;
}

.page-header__title {
  display: block;
  @include basic-padding;
  padding-top: 70px;
  padding-bottom: 120px;
  margin: 0;
  box-sizing: border-box;

  font-size: $font-size-xxx-large;
  line-height: $line-height-large;
  text-align: center;

  @media (min-width: $screen-tablet) {
    padding-top: 97px;

    font-size: $font-size-tablet;
    line-height: $line-height-tablet;

    &--bg {
      padding-top: 40px;
    }
  }

  @media (min-width: $screen-desktop) {
    font-size: $font-size-desktop;
    line-height: 55px;
  }
}

.page-header__meta {
  position: absolute;
  right: 0;
  top: 90px;

  display: none;
  box-sizing: border-box;

  @media (min-width: $screen-tablet) {
    position: static;

    display: block;
    order: 3;
    flex-grow: 1;
    margin: 0;
    padding: 14px 50px 14px 0;
    min-height: 90px;

    border-top: 1px solid $color-border;
  }
}
