.pagination {
  display: flex;
  justify-content: center;
  align-items: stretch;

  @include clear-list;

  background-color: transparent;

  text-align: center;
}

.pagination__item {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  border: 1px dotted $color-border;
}

.pagination__link {
  display: flex;
  flex-basis: 100%;
  background: transparent;
  border: none;

  font-size: 0;


  &:hover,
  &:focus {
    .pagination__link-icon {
      fill: rgba(0, 0, 0, 0.6);
    }
  }

  &:active .pagination__link-icon {
    fill: rgba(0, 0, 0, 0.3);
  }
}

.pagination__link-icon {
  margin: auto;
}
