.pagination {
  display: flex;
  justify-content: center;
  align-items: stretch;

  @include clear-list;

  background-color: transparent;

  text-align: center;
}

.pagination__item {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  border: 1px dotted $color-border;
}

.pagination__link {
  display: flex;
  flex-basis: 100%;
  background: transparent;
  border: none;

  font-size: 0;

  &::after {
    content: '';

    display: block;
    flex-basis: 100%;
    height: 50px;

    background: black;
  }

  &:hover, &:focus {
    &::after {
      background: $hover-link;
    }
  }

  &:active {
    &::after {
      background: $active-link;
    }
  }

  &--prev {
    &::after {
      mask: url('./../../img/icon-left-arrow.svg') no-repeat 50% 50%;
    }
  }

  &--next {
    &::after {
      mask: url('./../../img/icon-right-arrow.svg') no-repeat 50% 50%;
    }
  }
}
