.product-nav__link {
  $padding: 27px;

  position: relative;

  display: block;
  max-height: 115px;
  margin-left: -30px;
  margin-right: -30px;
  padding: $padding $padding+2;
  box-sizing: border-box;

  overflow: hidden;

  &--interior {
    @include link-icon-right(70px, 70px, './../../img/icon-interior.svg', 22px, $left-green-btn);
  }

  &--toy {
    @include link-icon-right(70px, 70px, './../../img/icon-toy.svg', 30px, $right-green-btn);
  }

  &:hover, &:focus {
    padding-bottom: ($padding + 5px);
  }

  &:active * {
    opacity: 0.3;
  }
}

.product-nav__link-text {
  display: inline-block;
  width: 120px;
  vertical-align: top;

  color: $color-text-white;
  font-size: $font-size-regular + 4;
  font-weight: bold;
}

@media (min-width: 768px) {
  .product-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 20px;

    box-sizing: border-box;
  }

  .product-nav__link {
      flex-basis: 50%;
      margin: 0;
      padding-left: 38px;
      line-height: $line-height-large;
  }
}
