.product-nav__link {
  $padding: 30px;

  position: relative;

  display: block;
  max-height: 103px;
  padding: $padding;
  box-sizing: border-box;

  overflow: hidden;
  @include ignore-page-padding;

  &--interior {
    @include link-icon-right(70px, 70px, './../../img/icon-interior.svg', 25px, $left-green-btn);
  }

  &--toy {
    @include link-icon-right(70px, 70px, './../../img/icon-toy.svg', 25px, $right-green-btn);
  }

  &:hover, &:focus {
    padding-bottom: ($padding + 5px);
  }

  &:active * {
    opacity: 0.3;
  }
}

.product-nav__link-text {
  display: inline-block;
  width: 120px;
  vertical-align: top;

  color: $color-text-white;
  font-size: $font-size-regular + 4;
  font-weight: bold;
}

@media (min-width: 768px) {
  .product-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .product-nav__inner {
    position: relative;
    width: 100%;

    @include clearfix;
  }

  .product-nav__link {
    width: 50%;
    max-height: 103px;
    float: left;
  }
}
