.products {
  padding-top: 33px;

  @media (min-width: $screen-tablet) {
    padding-top: 72px;
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    margin-bottom: 56px;

  }
}
