.reviews {
  padding-bottom:35px;
}

.reviews__title {
  margin-bottom: 25px;

  font-size: $font-size-xx-large;
  line-height: $line-height-large;
  font-weight: bold;
}

.review__text {
  margin-bottom: 25px;

  line-height: $line-height-large;
}

.reviews__add-btn {
  margin-top: 35px;
  margin-bottom: 50px;
}
