.reviews {
  position: relative;
  padding-bottom: 8px;

  @media (min-width: $screen-tablet) {
    max-width: 875px;
    margin-left: -50px;
    padding: 43px 0 37px 50px;
    background: url('./../../img/review@1x.jpg') no-repeat -30px 0;
    background-size: 380px 457px;
  }

  @media (min-width: $screen-desktop) {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 31px 0 160px 176px;
  }

  @media (min-width: $screen-tablet) and (min-resolution: 144dpi), (min-width: $screen-tablet) and (min-resolution: 1.5dppx) {
    background-image: url('./../../img/review@2x.jpg');
  }
}

.reviews__title {
  margin-bottom: 25px;

  font-size: $font-size-xx-large;
  line-height: $line-height-large;
  font-weight: bold;

  @media (min-width: $screen-tablet) {
    max-width: 875px;
    margin-bottom: 48px;
    margin-left: auto;

    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
    letter-spacing: -1px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 51px;
    font-size: $font-size-desktop;
  }
}

.review__text {
  margin-bottom: 25px;

  line-height: $line-height-large;

  @media (min-width: $screen-tablet) {
    margin-bottom: 57px;

    letter-spacing: 1.07px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 40px;
  }
}

.review__text br {
  display: none;

  @media (min-width: $screen-desktop) {
    display: block;
  }
}

.reviews__add-btn {
  margin-top: 35px;


  @media (min-width: $screen-tablet) {
    position: absolute;
    top: 43px;
    right: 0;
    width: 175px;
  }
}

.reviews__pagination {
  margin-bottom: 38px;

  @media (min-width: $screen-tablet) {
    position: absolute;
    bottom: 65px;
    right: 0;
    width: 175px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-desktop) {
    bottom: 190px;
  }
}
