.reviews {
  position: relative;
  padding-bottom: 35px;

  @media (min-width: $screen-size-normal) {
    max-width: 875px;
    margin-left: -50px;
    padding: 43px 0 105px 50px;
    background: url('./../../img/review@1x.jpg') no-repeat -30px 0;
    background-size: 380px 457px;
  }

  @media (min-width: $screen-size-large) {
    margin-left: auto;
    padding-top: 31px;
    padding-bottom: 160px;
  }
}

.reviews__title {
  margin-bottom: 25px;

  font-size: $font-size-xx-large;
  line-height: $line-height-large;
  font-weight: bold;

  @media (min-width: $screen-size-normal) {
    max-width: 875px;
    margin-bottom: 48px;
    margin-left: auto;

    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
  }

  @media (min-width: $screen-size-large) {
    font-size: $font-size-desktop;
    margin-bottom: 51px;
  }
}

.review__text {
  margin-bottom: 25px;

  line-height: $line-height-large;

  @media (min-width: $screen-size-normal) {
    margin-bottom: 57px;

    letter-spacing: 1.07px;
  }

  @media (min-width: $screen-size-large) {
    margin-bottom: 40px;
  }
}

.review__text br {
  display: none;

  @media (min-width: $screen-size-large) {
    display: block;
  }
}

.reviews__add-btn {
  margin-top: 35px;
  margin-bottom: 50px;

  @media (min-width: $screen-size-normal) {
    position: absolute;
    top: 50px;
    right: 0;
    width: 175px;
  }
}

.reviews__pagination {
  margin-bottom: 38px;

  @media (min-width: $screen-size-normal) {
    position: absolute;
    bottom: 135px;
    right: 0;
    width: 175px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-size-large) {
    bottom: 190px;
  }
}
