.social-links {
  @include clear-list;

  font-size: 0;
}

.social-links__item {
  display: inline-block;
  vertical-align: top;
}

.social-links__link {
  position: relative;

  display: block;
  width: 25px;
  height: 25px;

  &--inst {
    margin-right: 34px;
  }

  &--fb {
    margin-right: 34px;
  }

  &--tw,
  &--inst,
  &--fb {
    fill: $color-logo;

    &:hover,
    &:focus {
      fill: $color-logo-hover;
    }

    &:active {
      fill: $color-logo-active;
    }
  }
}
