.video-review {
  padding: 30px;
}

.video-review__title {
  max-width: 150px;
  margin:0 auto;
  display: block;
  position: relative;
  max-height: 200px;
  padding:30px 30px 20px 90px;

  font-size: $font-size-large;
  line-height: $line-height-regular;

  @include link-icon-left(45px, 40px, './../../img/icon-video.svg', 30px, transparent);
}

.video-review__text {
  padding: 30px;
}

.video-review__btn {
  margin-bottom: 60px;
}

.video-review__video {
  display: block;
  margin: 0 auto;
}
