.video-review {
  position: relative;
  display: flex;
  height: 460px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 12px 35px 25px;

  border: 1px solid $color-border;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $screen-tablet) {
    height: 693px;
    padding: 0 0 45px;
    margin-bottom: 62px;
  }

  @media (min-width: $screen-desktop) {
    height: 410px;
    padding-left: 705px;
    margin-bottom: 105px;
  }
}

.video-review__title {
  position: relative;

  display: block;
  max-width: 150px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 58px;


  font-size: $font-size-large;
  line-height: $line-height-regular;

  @media (min-width: $screen-tablet) {
    max-width: 100%;
    margin: 0;
    padding-left: 40px;
    order: 1;

    font-size: $font-size-large+3;

    &::before {
      left: 35px;
    }
  }

  @media (min-width: $screen-desktop) {
    margin-top: 45px;
    padding: 0 100px 0 55px;

    &::before {
      position: static;
      padding-bottom: 30px;
    }
  }
}

.video-review__icon {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 25px;
  fill: $color-icon;

  @media (max-width: 767px) {
    position: absolute;
    top: 3px;
    left: -3px;
  }

  @media (min-width: $screen-desktop) {
    display: block;
    margin-bottom: 15px;
  }
}

.video-review__text {
  font-size: $font-size-small;
  margin-top: 18px;
  margin-bottom: 18px;

  @media (min-width: $screen-tablet) {
    margin: 0;
    padding: 0 40px;
    order: 1;

    font-size: $font-size-regular;
    line-height: $line-height-large;
  }

  @media (min-width: $screen-desktop) {
    padding: 0 55px;
  }
}

.video-review__btn {
  margin-bottom: 0px;

  @media (min-width: $screen-tablet) {
    width: auto;
    box-sizing: border-box;
    margin: 0 40px;
    order: 1;

  }

  @media (min-width: $screen-desktop) {
    margin: 15px 57px 15px 57px;
  }
}

.video-review__video-wrapper {
  position: relative;

  display: block;
  margin: 0 -35px;

  background: url('./../../img/video-mobile@1x.jpg') no-repeat;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('./../../img/video-mobile@2x.jpg');
  }

  @media (min-width: $screen-tablet) {
    width: 100%;
    height: 450px;
    margin: 0;
    order: 0;

    background-image: url('./../../img/video-tablet@1x.jpg');
  }

  @media (min-width: $screen-tablet) AND (min-resolution: 144dpi),
  (min-width: $screen-tablet) AND (min-resolution: 1.5dppx) {
    background-image: url('./../../img/video-tablet@2x.jpg');
  }

  @media (min-width: $screen-desktop) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 680px;
    height: 100%;

    background-image: url('./../../img/video-desktop@1x.jpg');
  }

  @media (min-width: $screen-desktop) AND (min-resolution: 144dpi),
  (min-width: $screen-desktop) AND (min-resolution: 1.5dppx) {
    background-image: url('./../../img/video-desktop@2x.jpg');
  }
}

.video-review__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 76px;
  transform: translate(-50%, -50%);

  border: none;
  background:  url('./../../img/icon-play.svg') no-repeat 50% 50%;
  background-size: cover;

  &:hover,
  &:focus {
    width: 120px;
    height: 91px;
  }

  &:active {
    width: 80px;
    height: 61px;
  }
}


.video-review__video {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 300px;
}
